---
layout: post-index
---
{% for post in paginator.posts %}
<article>
    
    <!-- POST FEATURED IMAGE -->
    <div class="featured-image">
    <img src="{{ post.featured-image}}" style="width:100%">
    </div>

    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
        <h3 class="entry-subtitle">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.subtitle }}</a>
        </h3>
    </header>

    <!-- POST CONTENT -->
<!--     <div class="entry-content">
        {{ post.content }}
    </div> -->
    
    <!--- DIVIDING LINE -->
    <hr>
    
    <!-- POST TAGS -->
    <div class="inline-tags">
        <span>
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
        </span>
    </div>
    
    <br>
    
    <!-- POST DATE -->
    <div class="post-date">
        <span class="entry-date date published updated">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
            </time>
        </span>
    </div>
    
</article>
{% endfor %}

<div class="pagination">
<center>
{% include pagination.html %}
</center>
    </div>