<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}

    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-weight:100; font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
        </span>
    </center>

    <!-- NAVIGATION -->
    <br>
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <!-- MAIN -->
    <div id="main" role="main">
      {{ content }}
    </div>
</body>

<!-- FOOTER -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
